body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --text-font: "Segoe UI", sans-serif
}

.logo {
    width: 130px;
    height: 126px;
}

.main-nav {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
}

.main-list > li > a {
    font-family: var(--text-font);
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    display: block;
}

#image-link {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.main-nav a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.nested-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    display: none;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding: 10px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nested-list li {
    padding: 8px 15px;
    text-align: center;
}

.nested-list li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.dropdown:hover .nested-list, 
.dropdown .nested-list:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}

footer {
    text-align: center;
}

footer > p {
    font-weight: 400;
    font-size: 1.5em;
}